<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.novashen.riverside">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.novashen.riverside.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.novashen.riverside.module.collection.view.CollectionDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name="com.novashen.riverside.module.credit.view.CreditHistoryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name="com.novashen.riverside.module.post.view.NewPostDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name="com.novashen.riverside.module.post.PostDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name="com.novashen.riverside.module.darkroom.view.DarkRoomActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.user.view.ModifyAvatarActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.user.view.BlackListActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.magic.view.MineMagicActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.magic.view.MagicShopActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.houqin.view.HouQinReportListActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.medal.view.MedalCenterActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.dayquestion.view.DayQuestionActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.history.view.HistoryActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.post.view.PostDraftActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.post.view.CreatePostActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.novashen.riverside.module.user.view.AtUserListActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.search.view.SearchActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.account.view.AccountManageActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.message.view.PrivateChatActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.webview.view.WebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.setting.view.OpenSourceActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.setting.view.AboutActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.setting.view.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.post.view.CreateCommentActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/CsuTransparentActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.novashen.riverside.module.user.view.UserDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.board.view.BoardActivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:name="com.novashen.riverside.module.post.view.CreatePostEntranceActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/TransparentActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.novashen.riverside.module.main.view.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver
            android:name="com.novashen.riverside.receivers.RetryDayQuestionReceiver"
            android:exported="false" />

        <service
            android:name="com.novashen.riverside.services.HeartMsgService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.novashen.riverside.services.HeartMsgGuardService"
            android:enabled="true"
            android:exported="false"
            android:process=":HeartMsgGuard" />
        <service
            android:name="com.novashen.riverside.services.DayQuestionService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.novashen.riverside.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>